
@font-face {
    font-family:'rudawregular2';
    src:url('rudawregular2.ttf');
    }


footer{

height: 37px;
margin-top:170px;
border-radius: 4px;
background-color: rgba(108, 59, 224, 0.979);
text-align: center;
}

a{
text-align: center;
margin: 20px;
text-decoration:none ;
font-size: 27px;
color: #1d1b1b;
font-family: rudawregular2 ;

}

body{

    background-color: #1d1b1b;

}
h1{

color:rgba(108, 59, 224, 0.979);
font-family: rudawregular2 ;

}

.in{
font-size: 23px;
text-align: center;
margin-top: 10px;
background-color: #1d1b1b;
border-color: rgba(108, 59, 224, 0.979);
color:rgba(108, 59, 224, 0.979);

}



.td{

text-align: center;


}



.im{
    width: 70px;
    height: 70px;
    border-radius: 13px;
text-align: center;
align-items: center;
color:rgba(108, 59, 224, 0.979);

    }


    .di2{




    }




    p{

color: black;
        font-family: rudawregular2 ;
        font-size: 17px;

    }


    .bu11{
border-radius: 14px;
background-color: rgba(108, 59, 224, 0.979);
        border-color: rgba(108, 59, 224, 0.979);
        color:rgba(108, 59, 224, 0.979);
margin: 5px;

    }

/*kiwkkkswksskkdsksksd*/

    .im12{


        width: 70px;
        height: 70px;
        border-radius: 13px;
    text-align: center;
    align-items: center;
    color:rgba(108, 59, 224, 0.979);




    }



    .bu13{

display: flex;
        border-radius: 14px;
        background-color: rgba(108, 59, 224, 0.979);
                border-color: rgba(108, 59, 224, 0.979);
                color:rgba(108, 59, 224, 0.979);
        margin: 5px;



    }
    
    .face{

display: flow-root;


    }

    .p13{



margin-left: 7px;



    }



    .a1{

text-align: center;


    }

    .a2{


        color:rgba(108, 59, 224, 0.979);

    }